html {
  font-family: "Arial", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust :100%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

p {
  text-indent: 2em;
}

pre {
  background-color: #eeeeee;
}

.cv {
  margin: 0 auto;
  width: 1024px;
}
